<form (ngSubmit)="saveData()">
    <label for="entry-title">Überschrift:</label>
    <input type="text" id="entry-title" name="Überschrift" [(ngModel)]="entry.header" placeholder="Geben Sie eine Überschrift ein" required>
  
    <label for="entry-plant">Pflanze:</label>
    <input type="text" id="entry-plant" name="Pflanze" [(ngModel)]="entry.pflanze" placeholder="Geben Sie eine Pflanze ein" required>
  
    <label for="entry-text">Text:</label>
    <textarea id="entry-text" name="Text" [(ngModel)]="entry.text" placeholder="Geben Sie einen Text ein" required></textarea>
  
    <button type="submit">Daten speichern</button>
  </form>
  
 
