<div class="grid-container">
    <button>My Orders</button>
    <button>Buy Again</button>
    <button>My Account</button>
    <button>My Lists</button>
</div>

<div>
    <div class="flex-text">
        <h3>My Orders</h3>
        <div>Show All</div>
    </div>

</div>

<div>
    <div class="flex-text">
        <h3>You might be interessed in</h3>
        <div>History</div>
    </div>

    <div class="horizontal wrapper"> <!--Horizotal Scrollbar for Bestsellers-->
        <ng-container *ngFor="let item of plants">
            <div class="item" *ngIf="item.bestseller">
                <a routerLink="/details/{{item.id}}" class="vertical space-between">
                    <img [src]="item.imageUrl[0]" />
                    <div class="content horizontal">
                        <p><strong>{{item.name}}</strong> </p>
                         <span>{{item.price | currency}} <br>
                        <i class="fa-solid fa-star"></i> {{item.rating}}</span>
                    </div>
                </a>
            </div>
        </ng-container>
    </div>

</div>