<div *ngIf="plant">
  <h2>{{plant.name}}</h2>
  <div class="scroll-list">
    <div class="image-container">
    <img [src]="plant.imageUrl[0]" alt="{{plant.name}}" />
    <button (click)="anpinnen(plant)">
      <i class="fa-solid fa-thumbtack"></i>
      {{ isangepinnt(plant) ? ' Unpin' : ' Pin' }}
    </button>
  </div>
    <div class="kontainer">
      <p><strong>Name: </strong><span *ngIf="!editname">{{ plant.nickname|| plant.name }}</span>
        <input *ngIf="editname"[(ngModel)]="plant.nickname"(blur)="saveNickname()" class="inputfeld"/>
        <button class="edit-icon" (click)="edit()">&#9998;</button></p>
        <p>
          <strong>Size: </strong>
          <span><input type="number" [(ngModel)]="plant.size"(blur)=updateSize() class="size" >cm</span>
          
         
         </p>
        <p>
          <strong>Age: </strong>
          <span><input type="number" [(ngModel)]="plant.age" (blur)="updateAge" class="size">months</span>
          
          
        </p>
      <p><i class="fa-solid fa-cloud-sun"></i><strong> Sunlight: </strong>{{plant.sunlight}}</p>
      <p><i class="fa-solid fa-plant-wilt"></i><strong> Category:</strong> {{ plant.category.join(', ') }}</p>
      <p><i class="fa-solid fa-droplet"></i> <strong> Water Needs:</strong> {{ plant.water }} ml</p>
      <p><i class="fa-solid fa-wind"></i> <strong> Humidity:</strong> {{ plant.humidity }}</p>
      <p><i class="fa-solid fa-temperature-quarter"></i><strong> Temperature:</strong> {{ plant.temperature }} °C</p>
    </div>

  </div>
  <a [routerLink]="['/myplants-description', plant.id]">More Details</a>
    <button (click)="navigateToDiary()">Go to Diary</button>
    <a routerLink="/myplants"> <button id="del" (click)="deletePlant(plant)">Delete</button></a>
</div>