<div class="background">
    <a routerLink="/prelogin" class="back"><i class="fa-solid fa-circle-arrow-left"></i></a>
    <div class="flex-container">
        <h1>Willkommen</h1>
        <h5>Tragen Sie Ihre Daten ein</h5>
        <form action="post">

            <input type="text" id="email" name="email" placeholder="Email">

            <input type="text" id="password" name="password" placeholder="Passwort">

            <input type="text" id="rpassword" name="rpassword" placeholder="Passwort wiederholen">
            <a routerLink="/home" type="button" class="cbutton">Absenden</a>
        </form>
    </div>
</div>