.background{
    background-image: url('/Background1.png');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.flex-container{
    display: flex;
    height: 90%;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

input{
    background-color: transparent;
    color: white;
}

.cbutton{
    padding: 2vh;
    border-radius: 2vh;
    border: none;
    background: var(--secondary-color);
    font-size: 2vh;
    color: var(--text-color);
    text-decoration: none;
}

.back{
    display: inline-block;
    padding: 10px 20px;
    color: white;
    font-size: x-large;
}

h1{
    font-weight: bolder;
}