<div class="background">
    <div class="flex-container">
        <h1>Willkommen</h1>
        <h4>Tragen Sie Ihre Daten ein</h4>
        <form action="post">

            <input type="text" id="email" name="email" placeholder="Email">

            <input type="text" id="password" name="password" placeholder="Passwort">

            <input type="text" id="rpassword" name="rpassword" placeholder="Passwort wiederholen">
            <a href="/home" type="button">Absenden</a>
        </form>
    </div>
</div>