
<div *ngIf="!showRecommendations; else recommendations">
    <p id="frage">{{quizQuestions[index].question}}</p>
    <p id="hintergrund-rechteck">
        <ng-container  *ngFor="let answer of quizQuestions[index].answers">
                <input  [type]="quizQuestions[index].type" [name]="quizQuestions[index].name" [id]="answer.label" (click)="selectAnswer(answer)"> <label [for]="answer">{{answer.label}}</label><br>
       
        </ng-container>

    </p>
  <button id="nextButton" (click)="navigateToNextQuestion()">Next</button>
</div>
   
<ng-template #recommendations>
    <div id="empfehlung"> Your recommendations: </div>

    <div *ngFor="let pflanze of recommendedPlants">
        {{ pflanze.name }}
    </div>

</ng-template>
