header 
{
    position: relative;
    background: grey;
    padding: 0;
    
    border-radius: 5px;
    
}  

a{
    color: red;
}

a:hover{
    background: blue;
    color: white;
    cursor: pointer;
}

.container
{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    list-style-type: none;
    margin: 0;
}
ul a{
    padding: 1rem;
    display: inline-block;
}