header 
{
    position: relative;
    background: grey;
    padding: 0;
    
    border-radius: 5px;
    height: 4rem;
    
}  

a
{
    color: red;
}

a:hover{
    background: blue;
    color: white;
    cursor: pointer;
}

.container
{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
ul
{
    display: flex;
    list-style-type: none;
    margin: 0;
}
ul a
{
    padding: 1rem;
    display: inline-block;
}

/* BackButton */
#back
{
    border-radius: 100%;
    border: none;
    background-color: white;
}

/* Searchbar Styling */
#search
{
 border-radius:10rem 0 0 10rem;
 border: none;
 height: 2rem;
 width: 10rem;
 background-color: white;
 font-size: 1rem;
 font-weight: 500;
 outline: none;
}

#sb
{
    color: darkgreen;
    height: 2rem;
    width: 4rem;
    font-size: 1rem;
    border-radius: 0 10rem 10rem 0;
    border: none;
    background-color: white;
    color: white;
    background-color: darkgreen;
    opacity: 0.8;
    outline: none;
}