<header>
    <app-shopheader></app-shopheader>
</header>

<app-not-found 
[visible]="!plants || !plants.length"
></app-not-found>

<div id="carousel"> 
   
</div>






<h4>Shop our bestsellers</h4>

<div class="wrapper"> <!--Horizotal Scrollbar for Bestsellers-->
    <ng-container *ngFor="let item of plants">
        <div class="item" *ngIf="item.bestseller">
            <li>
                <a routerLink="/details/{{item.id}}">
                    <img [src] = "item.imageUrl[0]"/>
                </a>
                <div class="content">
                    <div class="name">
                        {{item.name}} <br>
                        {{item.price | currency}} <br>
                        {{item.rating}}
                    </div>
                </div>
            </li>
        </div>
    </ng-container>
</div>


<!--Alle Items einfügen -->
<ul>
    <li *ngFor="let p of plants">
        <a routerLink="/details/{{p.id}}">
            <img [src] = "p.imageUrl[0]"/>
        </a>
        <div class="content">
            <div class="name">
                {{p.name}} <br>
                {{p.price | currency}} <br>
                {{p.rating}}
            </div>
        </div>
    </li>
</ul>