/* Slideshow - Erstmal nur Platzhalter*/


/* sonstiges*/
ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

li a {
    height: 12.5rem;
    width: 10rem;
    border: 1px solid violet;
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: darkolivegreen;
}

li a:hover {
    opacity: 0.9;
    cursor: pointer;
}

li a img {
    object-fit: cover;
    height: 14.5rem;
}

.quizbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem; 
    margin: auto;
  }

.content {
    margin-top: 0.3rem;
    margin-left: 1rem;
    padding: 0.5r 1rem;
    position: relative;
    height: auto;
    width: 9rem;
    background-color: grey;


}

.sidescrollbar {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
    /* or any desired width */
    background-color: black;
}


.wrapper {
    overflow-y: hidden;
    width: 95vw;
    max-width: 95vw;
    margin-left: 5vw;
    height: 25vh;
    justify-content: left;
}

.wrapper .item {
    width: 125px;
    min-width: 125px;
    height: 25vh;
    background-color: white;
    border-radius: 2vh;
    cursor: pointer;
    margin: 1vh;
    overflow: hidden;
    font-size: 2vh;
}



h4 {
    margin-left: 5vw;
}

.wrapper .item a {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.wrapper .item a img {
    position: absolute;
    top: 0;
    display: block;
    width: auto;
    height: 60%;
    contain: content;
    margin-bottom: -4vh;
}

.wrapper .item a .content {
    position: absolute;
    top: 60%;
    margin-bottom: 0;
    max-height: 10vh;
    width: 100%;
    font-size: 2vh;
    color: var(--text-color);
    z-index: 10;
    display: block;
    width: 100%;
    background: none;
    text-decoration: none;
    position: relative;
    bottom: 0;
    background: var(--secondary-color);
    margin: 0;
    border: none;
    padding: 1vh;
    line-height: 1;
}

.wrapper .item a .content p {
    padding: 0;
    margin: 0;
    line-height: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: 100px;
    width: 100px;
    padding-bottom: 1vh;
}

.every-option {
    padding: 0 5vw;
    margin-top: 2vh;
}

.every-option li {
    margin: 0;
}

.every-option li a {
    width: 100px;
    position: relative;
    height:fit-content;
    padding: 0;
    background: var(--secondary-color);
    border: none;
    color: var(--text-color);
}

.every-option li a img {
    min-height: 15vh;
    height: 15vh;
    max-height: 15vh;
}

.every-option li a .content {
    width: 100%;
    padding: 1vh;
    margin: 0;
    background: var(--primary-color);
    border: none;
    color: var(--text-color);
}

.every-option li a .content p {
    padding: 0;
    margin: 0;
    line-height: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    padding-bottom: 1vh;
}

#shopcontent {
    max-height: 70vh;
    overflow: hidden;
    overflow-y: scroll;
    padding-bottom: 6vh;
}


@media (min-aspect-ratio: 1/1) {
    ::-webkit-scrollbar {
        width: 1vh;
    }

    ::-webkit-scrollbar-track {
        background: none;
    }

    ::-webkit-scrollbar-thumb {
        background: var(--primary-color);
        border-radius: 2vh;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: var(--primary-color);
    }
}