<header>
    <app-shopheader></app-shopheader>
</header>

<app-not-found [visible]="!plants || !plants.length"></app-not-found>

<div id="carousel">

</div>

<div id="quizbutton"> 

    <button class="quizbutton" (click)="navigateToQuizLandingPage()">Unsicher was du willst? Teste unser Quiz!</button>

</div>

<div id="shopcontent">
    <h4>Shop our bestsellers</h4>
    
    <div class="wrapper horizontal"> <!--Horizotal Scrollbar for Bestsellers-->
        <ng-container *ngFor="let item of plants" class="horizontal horizontal-scroll">
            <div class="item" *ngIf="item.bestseller">
                <a routerLink="/details/{{item.id}}" class="vertical space-between">
                    <img [src]="item.imageUrl[0]" />
                    <div class="content horizontal">
                        <p><strong>{{item.name}}</strong> </p>
                         <span>{{item.price | currency}} <br>
                            <i class="fa-solid fa-star"></i> {{item.rating}}</span>
                    </div>
                </a>
            </div>
        </ng-container>
    </div>
    
    
    
    
    
    <!--Alle Items einfügen -->
    <ul class="every-option">
        <li *ngFor="let p of plants">
            <a routerLink="/details/{{p.id}}">
                <img [src]="p.imageUrl[0]" />
                <div class="content">
                    <p>{{p.name}}</p>
                      {{p.price | currency}} <br>
                    
                </div>
            </a>
        </li>
    </ul>
</div>
