
.startbutton {
  position: absolute;
    top: 45vh;
    left: 30%;
    padding: 10px 20px;
    font-size: 48px;
    font-weight: bold;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    
  }
  
  .startbutton:hover {
    background-color: #45a049;
  }

  #ueberschrift{
    position: absolute;
    top: 20vh;
    left: 15px;
    padding-top: 20px;
    background-color: #2F2F2F;
    width: 400px;
    height: 74px;
    border-radius: 8px;
    text-align: center;
    font-size: 24px;
  }


  #hintergrund-rechteck{
    position: absolute;
    top:30vh;
    left: 15px;
    padding-top: 1vh;
    background-color: #2F2F2F;
    width: 400px;
    height: 535px;
    text-align: center;
    font-size: 24px;
    border-radius: 8px;
  }
