<div class="background">
    <a routerLink="/prelogin" class="back"><i class="fa-solid fa-circle-arrow-left"></i></a>
    <div class="flex-container">
        <h1>Log in</h1>
        <p>Enter your email and password or make a new account</p>
        <form action="post">
            <input type="text" id="email" name="email" placeholder="Email">
            <input type="password" id="password" name="password" placeholder="Passwort">
            <a routerLink="/home" type="button" class="cbutton">Login</a>
        </form>
        <a routerLink="/registration" class="cbutton">Hier registrieren</a>
    </div>
</div>
              