<div class="background">
    <div class="flex-container">
        <h1>Logge dich ein</h1>
        <p>Gib deine Email und Passwort ein oder registriere dich neu</p>
        <form action="post">
            <input type="text" id="email" name="email" placeholder="Email">
            <input type="text" id="password" name="password" placeholder="Passwort">
            <a href="/home" type="button">login</a>
        </form>
        <a href="/registration"><button>Hier registrieren</button></a>
    </div>
</div>
