.container
{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 0.5rem;
}

ul
{
    display: flex;
    flex-direction: column;
    flex: 0.6 0 auto;
    justify-content: space-evenly;
    border: 1px solid aqua;
    border-radius: 1rem;
    list-style: none;
    padding: 0;
    
}

ul li{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

li img{
    border-radius: 0.5rem;
    width: 5rem;
    height: 5rem;
    object-fit: cover;
}

li div
{
    padding: 0.5rem;
}

li div:not(:first-child)
{
    flex-basis: 18%;
}

li select
{
    width: 3rem;
    outline: none;
    border: none;
    border-bottom: 1px solid d3d3d3;
    font-size: 1.1rem;
    font-weight: 100;
}

li .remove
{
    border-radius: 1rem;
    border: none;
    padding: 0.5rem;
    opacity: 0.7;
    outline: none;
    color: red;
}

.checkout>div
{
    font-size: 1.1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}

.plantCount::before
{
    content: "Count: ";
}

.totalPrice::before
{
    content: "Price: ";
}

#checkout
{
    padding: 1rem;
    background-color:#d3d3d3;
    border-radius: 1rem;
    width: 25rem;
    text-align: center;
    display: block;
    color: black;
    justify-self: center;
    opacity: 0.7;
    text-decoration: none;
}