.container
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
    max-width: 100vw;
    padding: 0 5vw;
    color: var(--text-color);
    max-height: 75vh;
}

ul
{
    background: var(--secondary-color);
    display: flex;
    flex-direction: column;
    flex: 0.6 0 auto;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 2vh;
    list-style: none;
    padding: 1vh;
    max-height: 50vh;
    width: 100%;
    gap: 2vh;
    max-height: 50vh;
    overflow: hidden;
    overflow-y: scroll;
    margin-bottom: -1vh;
}

ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-transform: capitalize;
    background: var(--primary-color);
    border-radius: 2vh;
    padding: 1vh;
    width: 100%;
}

ul li a {
    color: var(--text-color);
    text-decoration: none;
}

.infoOfArticle {    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: min-content;
    max-width: 80vw;
    overflow: hidden;
}

.infoOfArticle  div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.infoOfArticle  div p {
    width: 100%;
    margin-bottom: 1vh;
    text-align: left;
}

.infoOfArticle  div.plant-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.plant-options select{
    margin-left: 1vh;
    border: none;
    border-radius: 2vh;
    padding: 0.5vh;
    background: var(--secondary-color);
    color: var(--text-color);
    padding-right: 1vh;
    margin-right: 1vh;
}

.infoOfArticle img{
    border-radius: 2vh;
    height: 10vh;
    margin: 0;
}

li div
{
    padding: 0.5rem;
}

li div:not(:first-child)
{
    flex-basis: 18%;
}

li select
{
    width: 3rem;
    outline: none;
    border: none;
    border-bottom: 1px solid d3d3d3;
    font-size: 1.1rem;
    font-weight: 100;
}

.remove
{
    border-radius: 1rem;
    border: none;
    padding: 0.5vh 1vh;
    outline: none;
    color: var(--text-color);
    background: var(--red-color);
    text-transform: capitalize;
    width: fit-content;
    display: flex; 
    align-items: center;
    justify-content: space-evenly;
}

.remove i {
    margin-right: 1vh;
}

.checkout>div
{
    font-size: 1.1rem;
    margin: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}

.plantCount::before
{
    content: "Count: ";
}

.totalPrice::before
{
    content: "Price: ";
}

#checkout
{
    padding: 2vh;
    background-color:var(--button-color);
    color: var(--text-color);
    border-radius: 2vh;
    width: 100%;
    text-align: center;
    display: block;
    color: black;
    justify-self: center;
    opacity: 0.7;
    margin-top: -1vh;
    text-decoration: none;
}
@media (min-aspect-ratio: 1/1) {
    ::-webkit-scrollbar {
        width: 1vh;
    }

    ::-webkit-scrollbar-track {
        background: none;
    }

    ::-webkit-scrollbar-thumb {
        background: var(--primary-color);
        border-radius: 2vh;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: var(--primary-color);
    }
}