<header>
    <app-shopheader></app-shopheader>
</header>

<div class="container">

     <div class="rating">{{plant.rating}}</div>

<!--Photo-->

    <ul>
        <li>{{plant.name}}</li>
        <li>{{plant.scientificName}}</li>
        <li>{{plant.price}}</li>
    </ul>
    

    
    test

</div>

<button id="addToCart">Add to cart</button> <span>Amount Adjustment</span>

<h4>About</h4>
<ul>
<li>{{plant.water}}</li>
<li>{{plant.temperature}}</li>
<li>{{plant.sunlight}}</li>
<li>{{plant.humidity}}</li>
<li>{{plant.temperature}}</li>
<li>{{plant.toughness}}</li>
<li>{{plant.indoor}}</li>
<li>{{plant.outdoor}}</li>
<li>{{plant.description}}</li>
<li>{{plant.tips}}</li>

</ul>

