img {
    border-radius: 2rem;
    flex: 1 0;
    object-fit: cover;
    height: 20rem;
    margin: 1rem;

}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0;
    color: var(--text-color);
    max-height: 74vh;
    overflow: hidden;
    overflow-y: scroll;
    padding: 0 5vw;
    padding-bottom: 12vh;
}


.right {


    padding-top: 2vh;
}

.about {
    background: var(--secondary-color);
    padding: 2vh;
    border-radius: 2vh;
}

p {}

ul {
    margin-left: 0;
    padding-left: 1vh;
}

li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.info {
    padding: 2vh;
    background: var(--primary-color);
    color: var(--text-color);
    border-radius: 2vh;
    text-transform: capitalize;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left img {
    max-height: 30vh;
}

.info h2 {
    font-size: 3vh;
    text-align: center;
}

.button-container button {
    background: var(--button-color);
    transition: 1s ease;
    font-size: 2vh;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    text-align: left;
    flex: 33.3%;
    font-size: 1.5vh;
}

.button-container button i {
    margin-right: 1vh;
}

.button-container button:hover {
    font-size: 1.75vh;
    height: 6vh;
}

.right .button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: min-content;
    width: 100%;
    gap: 1vh;
}

@media (min-aspect-ratio: 1/1) {
    ::-webkit-scrollbar {
        width: 1vh;
    }

    ::-webkit-scrollbar-track {
        background: none;
    }

    ::-webkit-scrollbar-thumb {
        background: var(--primary-color);
        border-radius: 2vh;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: var(--primary-color);
    }


    .container {
        gap: 2vh;
    }
}