<p id="reminder">Water next</p>
<div id="reminderPflanzen"></div>
<div>
    <a routerLink="/myplants-add"><button>Add New Plant</button></a>
    <a routerLink="/diary-index-component"><button>Diary</button></a>
</div>
<div id="filter">Filter</div>
<div id="pflanzensammlung">test</div>


<div class="container">
    <p>My Plants</p>
    <div class="scroll-list">
      <ul>
        <li *ngFor="let p of plants">
          <a [routerLink]="['/myplants-detail', p.id]">
            <img [src]="p.imageUrl[0]" alt="{{ p.name }}"  />
          </a>
          <div class="content">
            
            <div class="name">
              {{ p.name }} 
            
            </div>
          </div>
          
        </li>
      </ul>
    </div>
  </div>
