body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #090D05;
    color: white;
}

select {
    position:absolute;
    top: 18vh;
    background-color: #2F2F2F;
    color: white;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    cursor: pointer;
    width: 200px;
    margin: 10px 0;
    
}
select option {
    background-color: #2F2F2F;
    color: white;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-height: 60vh; 
    overflow-y: auto; 
}
.dynamic-div {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    width: 300px;
    position: relative;
    border-radius:10px;
    color: white;
    background-color: #2F2F2F;
    list-style-type: none;
    left:-15px;
}

.dynamic-div h1 {
    text-align: center;
    font-size: 24px;
    margin: 0 auto 10px auto;
    border-radius:10px;
    width: 80%;
}

.dynamic-div p {
    font-size: 18px;
    margin: 0;
    border-radius:10px;
}

.dynamic-div img {
    width: 100%;
    margin-top: 10px;
    border-radius:10px;
}

.delete-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    color: red;
    font-size: 20px;
    background: none;
    border: none;
}

.edit-icon {
    position: absolute;
    top: 5px;
    left: 5px;
    cursor: pointer;
    color: green;
    font-size: 20px;
    background: none;
    border: none;
}

.plant-text {
    text-decoration: underline;
    margin-top: 10px;
}

.add {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 4vh;
    margin-left: 29.5vh;
    padding: 5px 10px; 
    width: 12vh; 
    height: 5.5vh; 
}

.filter {
    position: absolute;
    left: 85vh;
}

.dropdown-container {
    top: 15vh;
    position: absolute;
    left: 2vh;
}