<select [(ngModel)]="selectedPlant" (change)="filterEntries()">
  <option value="alle">All Plants</option>
  <option *ngFor="let plant of plantOptions" [value]="plant">{{ plant }}</option>
</select>

<button [routerLink]="['/diary-input-component']" class="add">Add Entry</button>

<div class="content" *ngIf="filteredEntries.length > 0; else noEntries">
  <app-diary-entry
    *ngFor="let entry of filteredEntries"
    [entry]="entry"
    (deleteEntry)="onDeleteEntry($event)">
  </app-diary-entry>
</div>

<ng-template #noEntries>
  <p>No entries found</p>
</ng-template>
