
select {
    position:absolute;
    top: 18vh;
    background-color: #2F2F2F;
    color: white;
    padding: 1.2vh 1.8vh;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 2vh;
    outline: none;
    cursor: pointer;
    width: 25vh;
    margin: 1.2vh 0;
    
}
select option {
    background-color: #2F2F2F;
    color: white;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-height: 60vh; 
    overflow-y: auto; 
}
.dynamic-div {
    border: 1px solid #ccc;
    padding: 2vh;
    margin: 2vh;
    width: 40vh;
    position: relative;
    border-radius:2vh;
    color: white;
    background-color: #2F2F2F;
    list-style-type: none;
    
}

.dynamic-div h1 {
    text-align: center;
    font-size: 2.9vh;
    margin: 0 auto 2vh auto;
    border-radius:1vh;
    width: 80%;
}

.dynamic-div p {
    font-size: 2vh;
    margin: 0;
    border-radius:1vh;
}

.delete-icon {
    position: absolute;
    top: 0.2vh;
    right: 0.2vh;
    cursor: pointer;
    color: red;
    font-size: 1.8vh;
    background: none;
    border: none;
}

.edit-icon {
    position: absolute;
    top: 0.2vh;
    left: 0.2vh;
    cursor: pointer;
    color: green;
    font-size: 1.8vh;
    background: none;
    border: none;
}

.plant-text {
    text-decoration: underline;
    margin-top: 1vh;
}

.add {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 4vh;
    margin-left: 29.5vh;
    padding: 0.5vh 1vh; 
    width: 12vh; 
    height: 5.5vh; 
}

.filter {
    position: absolute;
    left: 85vh;
}

.dropdown-container {
    top: 15vh;
    position: absolute;
    left: 2vh;
}