
<form (ngSubmit)="onSubmit()">
    <label for="header">Überschrift:</label>
    <input type="text" id="header" name="header" [(ngModel)]="entry.header">
    
    <label for="pflanze">Pflanze:</label>
    <input type="text" id="pflanze" name="pflanze" [(ngModel)]="entry.pflanze">
    
    <label for="text">Text:</label>
    <textarea id="text" name="text" [(ngModel)]="entry.text"></textarea>
    
    <button  type="submit">Speichern</button>
  </form>


    <button [routerLink]="['/diary-index-component']">Zurück</button>
