:root {
  --background-color: #090D05;
  --text-color: #FFFFFF;
  --text-highlight-color: #9AB91E;
  --container-bg: #224618;
  --container-shadow: rgba(0, 0, 0, 0.1);
  --primary-color: #4D7B38;
  --primary-hover-color: #4EB15E;
  --secondary-color: #2F2F2F;
  --button-color: #D6AB11;
  --button-text-color: black;
  --red-color: #7F1E1E;
}

* {
  margin: 0;
  padding: 0;
}

body.light-mode {
  --background-color: #70c21e;
  --text-color: #FFFFFF;
  --text-highlight-color: #9AB91E;
  --container-bg: #224618;
  --container-shadow: rgba(0, 0, 0, 0.1);
  --primary-color: #4D7B38;
  --primary-hover-color: #4EB15E;
  --secondary-color: #4D7B38;
  --button-color: #D6AB11;
  --button-text-color: black;
  --red-color: #7F1E1E;
}

body {
  background: var(--background-color);
  width: 100vw;
  overflow-x: hidden;
  padding-top: 15vh;
  color: var(--text-color);
  font-size: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  padding: 2vh;
  border-radius: 2vh;
  border: none;
  background: var(--secondary-color);
  font-size: 2vh;
  color: var(--text-color);
}

button.primary {
  background: var(--button-color);
  color: var(--button-text-color);
}

button.error {
  background: var(--red-color);
}

.vertical {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 100%;
}

.horizontal {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 100%;
}

.wrap {
  flex-wrap: wrap;
}

.scroll {
  overflow-x: scroll;
}

.horizontal-scroll {
  width: 100%;
  overflow-x: scroll;
}

.space-between {
  justify-content: space-between;
}
