<div class="horizontal wrap">
  <button>
    <i class="fa-solid fa-gear"></i> Allgemeine Einstellungen
  </button>
  <div class="horizontal space-between">
    <p>Farbgebung</p>
    <p><a href="">Hell</a>|<a href="" class="active">Dunkel</a></p>
  </div>
  <button>
    Impressum
  </button>
  <div>
    <div class="impress">
      <!--Mit Hilfe von ChatGPT generiert-->
      <h2>Angaben gemäß § 5 TMG</h2>

      <p>
        <strong>Hochschule Rhein-Waal</strong><br>
        Fakultät Kommunikation und Umwelt<br>
        Friedrich-Heinrich-Allee 25<br>
        47475 Kamp-Lintfort<br>
        Deutschland
      </p>

      <h2>Vertreten durch:</h2>
      <p>
        Dr. Christina Mika-Michalski
      </p>

      <h2>Kontakt:</h2>
      <p>
        Telefon: <a href="tel:+492842908250">+49 (0) 2842 908 25-0</a><br>
        E-Mail: <a href="mailto:info@hsrw.eu">info&#64;hsrw.eu</a>
      </p>

      <h2>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</h2>
      <p>
        <strong>Jan</strong><br>
        E-Mail <a href="mailto:@hsrw.org">&#64;hsrw.org</a><br><br>
        <strong>Tim</strong><br>
        E-Mail <a href="mailto:@hsrw.org">&#64;hsrw.org</a><br><br>
        <strong>Timo</strong><br>
        E-Mail <a href="mailto:@hsrw.org">&#64;hsrw.org</a><br><br>
        <strong>Tom</strong><br>
        E-Mail <a href="mailto:@hsrw.org">&#64;hsrw.org</a><br><br>
        <strong>Leo</strong><br>
        E-Mail <a href="mailto:@hsrw.org">&#64;hsrw.org</a><br><br>
        <strong>Robert Alexander Lukasik</strong><br>
        E-Mail <a href="mailto:robert-alexander.lukasik@hsrw.org">robert-alexander.lukasik&#64;hsrw.org</a><br><br>
        <strong>Nicolas Hahne</strong><br>
        E-Mail <a href="mailto:Nicolas.Hahne@hsrw.org">Nicolas.Hahne&#64;hsrw.org</a>
      </p>

      <h2>Hinweis:</h2>
      <p>
        Diese App ist ein Minimum Viable Product (MVP) und dient ausschließlich zu Forschungs- und Bildungszwecken im
        Rahmen eines Hochschulprojekts an der Hochschule Rhein-Waal, Campus Kamp-Lintfort. Sie ist nicht für den
        kommerziellen Vertrieb bestimmt und entspricht nicht den Anforderungen an eine marktreife Applikation.
      </p>

      <h2>Haftung für Inhalte:</h2>
      <p>
        Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und
        Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen.
      </p>

      <h2>Haftung für Links:</h2>
      <p>
        Unser Angebot enthält Links zu externen Websites Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb
        können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist
        stets
        der jeweilige Anbieter oder Betreiber der Seiten verantwortlich.
      </p>

      <h2>Urheberrecht:</h2>
      <p>
        Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen
        Urheberrecht. Beiträge Dritter sind als solche gekennzeichnet. Die Vervielfältigung, Bearbeitung, Verbreitung
        und
        jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des
        jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht
        kommerziellen Gebrauch gestattet.
      </p>
    </div>

  </div>
</div>
